/* style.css */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent global scrollbar */
}

.container-fluid {
    height: 100vh;
}

.sidebar-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color:#002D62;
    font-weight: bold;
}

.sidebar-content > div {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar-content > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-title-container { /* Container du fond bleu */
    background-color: #1962b4 ;
    display: flex; /* Active le modèle de boîte flexible */
    justify-content: center; /* Centre horizontalement le contenu */
    align-items: center; /* Centre verticalement le contenu */
    padding-top: 25px; /* Ajoute du rembourrage en haut */
    padding-bottom: 15px; /* Ajoute du rembourrage en bas */
    margin-top: 0;
    margin-bottom: 0;
}

.main-title-container h1 { /* Le titre à l'intérieur */
    font-size: 1.5rem;
    color: white;

    margin: 0; /* Supprime les marges par défaut du h1 pour un centrage précis */
    padding: 0; /* Supprime les rembourrages par défaut du h1 */
}




/* Positionner la légende dans le coin inférieur droit */

.legend-container {
    position: absolute; /* Positionnement absolu pour la placer sur la carte */
    bottom: 50px; /* Distance du bas de la carte */
    right: 280px;  /* Distance du bord droit de la carte */
    background-color: white; /* Fond blanc pour la lisibilité */
    border-radius: 5px; /* Coins arrondis */
    padding: 10px; /* Espacement autour du contenu */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optionnel : ajout d'une ombre pour rendre la légende plus visible */
    z-index: 1; /* S'assurer que la légende soit au-dessus de la carte */
    max-width: 200px; /* Limiter la largeur pour ne pas qu'elle prenne trop de place */
}



/* Légende de la vulnérabilité */
.legend-container h4 {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
    height: 40%;    
}


#legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}


.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.legend-label {
    font-size: 1rem;
    color: #333;
}
