body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-fluid {
    height: 100vh;
}

.sidebar-header h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    color: #002D62;
    font-weight: bold;
}

.sidebar-content > div {
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar-content > div:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.main-title-container {
    background-color: #1962b4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
    margin: 0;
}

.main-title-container h1 {
    font-size: 1.5rem;
    color: white;
    margin: 0;
    padding: 0;
}

.legend-container {
    position: absolute;
    bottom: 50px;
    right: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-width: 200px;
}

#legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.legend-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.legend-label {
    font-size: 1rem;
    color: #333;
}
